.navbar-dark {
  background: #c4c4c4 !important;
}


.navbar li a {
  color: black;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-brand img {
  max-height: 6vh;
  padding: none !important;
  margin: -10% !important;
}
