<!-- <div class="modal-fade" id="postModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="backdrop"></div>
  <div class="alert-box">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div class="alert-box-actions">
      <button class="btn btn-success" type="submit">Submit Post</button> |
      <button class="btn btn-danger" type="button" (click)="onCloseModal()">Cancel</button>
    </div>
  </div>
