p {
  padding-top: 1rem;
}

a.authLink {
  color: blue;
  text-decoration: underline;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span.help-block {
  color: rgb(110, 7, 7);
}

form {
  background-color: rgb(197, 188, 188);
  padding: 10%;
}
