<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-4">
      <h4 class="mb-4 mt-4">Sign Up</h4>
      <p class="pb-5">Please fill out this form to create an account!</p>
      <form (ngSubmit)="onSubmit()" #authForm="ngForm">
        <input
          type="email"
          name="email"
          class="form-control mt-5"
          placeholder="email"
          required
          ngModel
        />
        <br>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="password"
          minlength="6"
          required
          ngModel
        />
        <br>
        <input
          type="password"
          name="password-confirm"
          class="form-control mb-5"
          placeholder="confirm password"
          required
          ngModel
        />
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" >Sign Up</button>
      </form>
    </div>
  </div>
</div>
