p {
  padding-top: 1rem;
}

a.authLink {
  color: blue;
  text-decoration: underline;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span.help-block {
  color: rgb(110, 7, 7);
}

form {
  background-color: rgb(128, 146, 124);
  padding: 10%;
  border-radius: .3em;
  width: 100%;
}

.form-container > h2, p {
  color:rgb(226, 226, 226);
}

.form-container > h2 {
  font-weight: bold;
}

.logo-container {
  text-align: center;
  background-color: rgb(0,128,55);
}

.logo-container > img {
  max-height: 20vh;
}
