<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-4">
      <h4 class="mb-4 mt-4">{{ this.isLoginMode ? "Log In" : "Sign Up" }}</h4>
      <p class="pb-5" *ngIf="!isLoginMode">Please fill out this form to create an account!</p>
      <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
        <input
          type="email"
          name="email"
          class="form-control mt-5"
          placeholder="email"
          required
          ngModel
        />
        <br />
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="password"
          minlength="6"
          required
          ngModel
        />
        <br />
        <input
          *ngIf="!isLoginMode"
          type="password"
          name="password-confirm"
          class="form-control mb-5"
          placeholder="confirm password"
          required
          ngModel
        />
        <br />
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          {{ this.isLoginMode ? "Log In" : "Sign Up" }}
        </button>
        <br />
        <p *ngIf="!isLoginMode">
          Already have an account?
          <a class="authLink" (click)="onSwitchAuth()">Click here</a> to sign
          in!
        </p>
        <p *ngIf="isLoginMode">
          New here?
          <a class="authLink" (click)="onSwitchAuth()">Click here</a> to sign
          up!
        </p>
      </form>
    </div>
  </div>
</div>
