<div class="container">
  <div class="row">
    <div class="col-lg-4" *ngFor="let user of users">
      <app-alert
        (close)="onClose()"
        *ngIf="friendModal"
        [user]="friendModal"
        [message]="
          friendModal.isFriends ? 'Now friends with' : 'No longer friends with'
        "
      ></app-alert>
      <div class="card user-card m-2" style="width: 25vw">
        <img [src]="user.imagePath" class="card-img-top user-img"/>
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.bio }}</p>
          <button class="btn btn-primary" (click)="onViewProfile(user.id)">
            Go to Profile
          </button>
          <button
            *ngIf="!user.isFriends"
            class="btn btn-success"
            (click)="onAddFriend(user)"
          >
            Add Friend
          </button>
          <button
            *ngIf="user.isFriends"
            class="btn btn-danger"
            (click)="onDeleteFriend(user)"
          >
            Delete Friend
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
