/* .like-button-container {
  justify-content: center;
  text-align: center;
} */

.fa {
  color: rgb(0,128,55);
  max-height: fit-content;
  transition: 0.2s;
}

.fa:hover {
  transform: scale(1.2);
}

.post-card {
  background-color: rgba(216, 233, 147, 0.8);
}

.alert {
  background-color: rgb(0,128,55);
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  color: rgba(201,226,101, 0.8);
}
