<div class="container">
  <div class="row">
    <div class="col-md-4 mb30">
      <div class="card">
        <div class="card-content pt20 pb20 profile-header">
          <img
            [src]="activeUser.imagePath"
            alt="user profile picture"
            class="img-fluid rounded-circle"
          />
          <h3 class="card-title text-center mb20">{{ activeUser.name }}</h3>
          <hr />
          <h5>{{ activeUser.bio }}</h5>
        </div>

        <!--Posts Section Starts Here-->
      </div>
    </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
