#createPostBtn {
  width: 50vw;
  height: 3rem;
  left: 25vw;
  top: 5%;
  color: rgb(26, 24, 24);
  background: #008037;
  font-size: 2rem;
  text-align: center;
  padding: none;
  margin-bottom: 5%;
  display: inline-block;
  align-items: center;
  line-height: 10px;
  box-shadow: 3px 8px 10px 0px #2B2B2B;
  transition: 0.25s;
}

#createPostBtn:hover {
  background: #cfe675;
  transform: scale(1.025);
  box-shadow: 0 0 10px 0 #488000 inset, 0 0 10px 4px #488000;
}
